.section-information {
    background-color: $background;
    color: $primary-font;
    padding-bottom: 80px;

    .container {
        padding: 0;

        @media (max-width: 575px) {
            padding: 0 25px;
        }

        .projects {

            .para {
                color: $discription;
                max-width: 560px;
                align-self: center;
            }
        }

        .achivements {
            background-color: $primary-color;
            border-radius: 20px;
            min-width: 100%;
            position: relative;

            .achivement {
                padding: 20px;
                min-height: 300px;
                flex-basis: 100%;
            }

            .section-2,
            .section-3,
            .section-4 {
                border-left: 1px solid $border;
            }


        }
    }
}