.section-about-us {
    padding-bottom: 80px;

    .container-xxl {
        padding: 0;

        .checkbox-filter {

            button {
                background-color: $secondary;
                border: 1px solid $border;
                padding: 10px 30px;
                font-size: 1.2rem;
            }
        }
    }
}