$primary-color: #dc296c;
$background: #111111;
$secondary: #242424;
$navbar: #1a1b1f;
$primary-font: #ffffff;
$discription: #bebebe;
$border: #4f4f4f;


@import 'navbar';

main {
    background-color: $background;
    @import 'section-information';
    @import '_section-about-us';
}
